/source/*/obj
/source/Sample/*/bin
/source/Sample/*/obj
/source/*/bin
/source/.vs
/source/*/*.vspscc
/source/*/*.vssscc
/source/*/*.user
*.nupkg
*.xml
/source/DefaultEcs.Benchmark/BenchmarkDotNet.Artifacts
/source/Sample/resource
