[*.cs]

dotnet_analyzer_diagnostic.severity = warning

# CA1000: Do not declare static members on generic types
dotnet_diagnostic.CA1000.severity = none

# CA1014: Mark assemblies with CLSCompliant
dotnet_diagnostic.CA1014.severity = none

# CA1024: Use properties where appropriate
dotnet_diagnostic.CA1024.severity = none

# CA1034: Nested types should not be visible
dotnet_diagnostic.CA1034.severity = none

# CA1043: Use Integral Or String Argument For Indexers
dotnet_diagnostic.CA1043.severity = none

# CA1051: Do not declare visible instance fields
dotnet_diagnostic.CA1051.severity = none

# CA1063: Implement IDisposable Correctly
dotnet_diagnostic.CA1063.severity = none

# CA1724: Type names should not match namespaces
dotnet_diagnostic.CA1724.severity = none

# CA1810: Initialize reference type static fields inline
dotnet_diagnostic.CA1810.severity = none

# CA1812: Avoid uninstantiated internal classes
dotnet_diagnostic.CA1812.severity = none

# CA1813: Avoid unsealed attributes
dotnet_diagnostic.CA1813.severity = none

# CA1814: Prefer jagged arrays over multidimensional
dotnet_diagnostic.CA1814.severity = none

# CA1815: Override equals and operator equals on value types
dotnet_diagnostic.CA1815.severity = none

# CA1819: Properties should not return arrays
dotnet_diagnostic.CA1819.severity = none

# CA2000: Dispose objects before losing scope
dotnet_diagnostic.CA2000.severity = none

# CA2207: Initialize value type static fields inline
dotnet_diagnostic.CA2207.severity = none

# CA5394: Do not use insecure randomness
dotnet_diagnostic.CA5394.severity = none

# IDE0010: Add missing cases
dotnet_diagnostic.IDE0010.severity = none

# IDE0022: Use block body for methods
dotnet_diagnostic.IDE0022.severity = none

# IDE0024: Use block body for operators
dotnet_diagnostic.IDE0024.severity = none

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# IDE0061: Use expression body for local functions
dotnet_diagnostic.IDE0061.severity = none

# IDE0072: Add missing cases
dotnet_diagnostic.IDE0072.severity = none

# IDE0210: Convert to top-level statements
dotnet_diagnostic.IDE0210.severity = none

# RCS1158: Static member in generic type should use a type parameter.
dotnet_diagnostic.RCS1158.severity = none

# RCS1161: Enum should declare explicit values.
dotnet_diagnostic.RCS1161.severity = none

# RCS1186: Use Regex instance instead of static method.
dotnet_diagnostic.RCS1186.severity = none

# RCS1189: Add or remove region name.
dotnet_diagnostic.RCS1189.severity = none

# RCS1238: Avoid nested ?: operators.
dotnet_diagnostic.RCS1238.severity = none

[**/{Extensions}/**.cs]

# IDE0130: Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = none

[**{.Test}/**.cs]

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

# CA2201: Do not raise reserved exception types
dotnet_diagnostic.CA2201.severity = none

# SYSLIB1045: Convert to 'GeneratedRegexAttribute'.
dotnet_diagnostic.SYSLIB1045.severity = none

[**{.Benchmark}/**.cs]

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none